body {
	margin: 0;
	padding: 0;
	font: 16px/1.6 Georgia, "Times New Roman", Times, serif;
	color: #242424;
	text-align: justify
}

h2 {
	color: #c01414;
}

hr { 
    border-style: solid;
    border-width: 1px;
	border-color: #cd440b;
}

header {
	color: #c01414;
	font-size: 1.8em;

}

p {
	font-size: 1.1em;
}

.container {
	width: 90%;
	max-width: 970px;
	margin: 100px auto; /*centramos el contenido horitzontalmente*/	
}


.parrafo1 {
	font-size: 1.5em;
}

.nombreyfecha {
	text-align: right;
} 

.nombres, .titulo {
	color: #cd440b;} 

